.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 156px;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

.logo-white {
  color: #fff;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #4d5ae5;
}