
#team {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    background-color: #F4F4FD;
    padding: 20px;
    text-align: center;
}

.people-card-wrapper {
  display: flex; 
  flex-direction: column; 
  gap: 6px;
  background-color: #fff;
}

.people-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  > h3, p {
    margin: 0;
  }
}
